In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
import missingno as msg
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('deliveries.csv')
df1 = pd.read_csv('matches.csv')

In [4]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [5]:
df1.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [6]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [7]:
df1.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

# Ques 1 - Win ?

In [22]:
df1['team1'] = df1['team1'].replace("Delhi Daredevils" , "Delhi Capitals")
df1['team2'] = df1['team2'].replace("Delhi Daredevils" , "Delhi Capitals")
df1['winner'] = df1['winner'].replace("Delhi Daredevils" , "Delhi Capitals")

In [23]:
df1['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants'],
      dtype=object)

In [24]:
main_df = df1[((df1['team1'] == 'Delhi Capitals') & (df1['team2'] == 'Chennai Super Kings')) | ((df1['team1'] == 'Chennai Super Kings') & (df1['team2'] == 'Delhi Capitals'))]
main_df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
78,79,2008,Chennai,2008-05-02,Chennai Super Kings,Delhi Capitals,Chennai Super Kings,bat,normal,0,Delhi Capitals,0,8,V Sehwag,"MA Chidambaram Stadium, Chepauk",BF Bowden,K Hariharan,NaN
86,87,2008,Delhi,2008-05-08,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,4,MS Dhoni,Feroz Shah Kotla,Aleem Dar,RB Tiffin,NaN
124,125,2009,Durban,2009-04-23,Delhi Capitals,Chennai Super Kings,Delhi Daredevils,bat,normal,0,Delhi Capitals,9,0,AB de Villiers,Kingsmead,BR Doctrove,SJA Taufel,NaN
140,141,2009,Johannesburg,2009-05-02,Chennai Super Kings,Delhi Capitals,Delhi Daredevils,field,normal,0,Chennai Super Kings,18,0,SB Jakati,New Wanderers Stadium,DJ Harper,RE Koertzen,NaN
184,185,2010,Delhi,2010-03-19,Delhi Capitals,Chennai Super Kings,Delhi Daredevils,bat,normal,0,Chennai Super Kings,0,5,ML Hayden,Feroz Shah Kotla,BR Doctrove,SK Tarapore,NaN
223,224,2010,Chennai,2010-04-15,Chennai Super Kings,Delhi Capitals,Chennai Super Kings,bat,normal,0,Delhi Capitals,0,6,G Gambhir,"MA Chidambaram Stadium, Chepauk",HDPK Dharmasena,SS Hazare,NaN
288,289,2011,Chennai,2011-05-12,Chennai Super Kings,Delhi Capitals,Chennai Super Kings,bat,normal,0,Chennai Super Kings,18,0,MS Dhoni,"MA Chidambaram Stadium, Chepauk",AM Saheba,SL Shastri,NaN
317,318,2012,Delhi,2012-04-10,Chennai Super Kings,Delhi Capitals,Delhi Daredevils,field,normal,0,Delhi Capitals,0,8,M Morkel,Feroz Shah Kotla,Asad Rauf,SK Tarapore,NaN
363,364,2012,Chennai,2012-05-12,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,9,BW Hilfenhaus,"MA Chidambaram Stadium, Chepauk",S Das,BR Doctrove,NaN
379,380,2012,Chennai,2012-05-25,Chennai Super Kings,Delhi Capitals,Delhi Daredevils,field,normal,0,Chennai Super Kings,86,0,M Vijay,"MA Chidambaram Stadium, Chepauk",BR Doctrove,SJA Taufel,NaN
403,404,2013,Delhi,2013-04-18,Chennai Super Kings,Delhi Capitals,Chennai Super Kings,bat,normal,0,Chennai Super Kings,86,0,MEK Hussey,Feroz Shah Kotla,M Erasmus,VA Kulkarni,NaN
445,446,2013,Chennai,2013-05-14,Chennai Super Kings,Delhi Capitals,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MS Dhoni,"MA Chidambaram Stadium, Chepauk",C Shamshuddin,RJ Tucker,NaN
464,465,2014,Abu Dhabi,2014-04-21,Chennai Super Kings,Delhi Capitals,Chennai Super Kings,bat,normal,0,Chennai Super Kings,93,0,SK Raina,Sheikh Zayed Stadium,RK Illingworth,C Shamshuddin,NaN
482,483,2014,Delhi,2014-05-05,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,8,DR Smith,Feroz Shah Kotla,RM Deshpande,BNJ Oxenford,NaN
518,519,2015,Chennai,2015-04-09,Chennai Super Kings,Delhi Capitals,Delhi Daredevils,field,normal,0,Chennai Super Kings,1,0,A Nehra,"MA Chidambaram Stadium, Chepauk",RK Illingworth,VA Kulkarni,NaN
564,565,2015,Raipur,2015-05-12,Chennai Super Kings,Delhi Capitals,Chennai Super Kings,bat,normal,0,Delhi Capitals,0,6,Z Khan,Shaheed Veer Narayan Singh International Stadium,RK Illingworth,VA Kulkarni,NaN
665,7923,2018,Pune,30/04/18,Chennai Super Kings,Delhi Capitals,Delhi Daredevils,field,normal,0,Chennai Super Kings,13,0,SR Watson,Maharashtra Cricket Association Stadium,C Shamshuddin,Anil Dandekar,O Nandan
687,7945,2018,Delhi,18/05/18,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Delhi Capitals,34,0,HV Patel,Feroz Shah Kotla,Kumar Dharmasena,Vineet Kulkarni,O Nandan
700,11141,2019,Delhi,26/03/19,Delhi Capitals,Chennai Super Kings,Delhi Capitals,bat,normal,0,Chennai Super Kings,0,6,SR Watson,Feroz Shah Kotla Ground,Marais Erasmus,Nitin Menon,Anil Dandekar
745,11341,2019,Chennai,01/05/19,Chennai Super Kings,Delhi Capitals,Delhi Capitals,field,normal,0,Chennai Super Kings,80,0,MS Dhoni,M. A. Chidambaram Stadium,Anil Dandekar,Nitin Menon,Ian Gould
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin

In [25]:
main_df['winner'].value_counts()

Chennai Super Kings    15
Delhi Capitals          6
Name: winner, dtype: int64

In [26]:
## acc to this data and stats , CSK has won more matches than DC
## CSK - 15 win
## Dc - 6 win

In [27]:
## The last match of both the teams are resulted in a WIN

In [28]:
## So , i guess , CSK will win as the stadium is also Sharjah

# Ques 1 Ans  - CSK

In [29]:
#########################################################################################################################

# Ques 2- Runs scored by csk ?

In [42]:
df['batting_team'].unique()
df['batting_team'] = df['batting_team'].replace('Delhi Daredevils' , 'Delhi Capitals')
df['bowling_team'] = df['bowling_team'].replace('Delhi Daredevils' , 'Delhi Capitals')

In [43]:
# csk against dc
main_df_csk = df[(((df['batting_team'] == 'Chennai Super Kings')  & ((df['bowling_team'] == 'Delhi Capitals'))))]
main_df_csk

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18372,79,1,Chennai Super Kings,Delhi Capitals,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18373,79,1,Chennai Super Kings,Delhi Capitals,1,2,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18374,79,1,Chennai Super Kings,Delhi Capitals,1,3,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18375,79,1,Chennai Super Kings,Delhi Capitals,1,4,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18376,79,1,Chennai Super Kings,Delhi Capitals,1,5,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178825,11414,2,Chennai Super Kings,Delhi Capitals,19,2,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
178826,11414,2,Chennai Super Kings,Delhi Capitals,19,3,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
178827,11414,2,Chennai Super Kings,Delhi Capitals,19,4,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,0,0,0,MS Dhoni,caught,K Paul
178828,11414,2,Chennai Super Kings,Delhi Capitals,19,5,AT Rayudu,DJ Bravo,I Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
178829,11414,2,Chennai Super Kings,Delhi Capitals,19,6,DJ Bravo,AT Rayudu,I Sharma,0,...,0,4,0,0,4,4,8,NaN,NaN,NaN

In [44]:
match = main_df_csk['match_id'].nunique()

In [45]:
runs = main_df_csk['total_runs'].sum()

In [46]:
runs / match

163.9047619047619

In [47]:
# avg run is 163 againt DC

In [48]:
# Lets look avg againt every team

In [49]:
# csk against all
main_df_csk_all = df[(((df['batting_team'] == 'Chennai Super Kings')))]
main_df_csk_all

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
14087,61,1,Chennai Super Kings,Kings XI Punjab,1,1,PA Patel,ML Hayden,B Lee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14088,61,1,Chennai Super Kings,Kings XI Punjab,1,2,PA Patel,ML Hayden,B Lee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14089,61,1,Chennai Super Kings,Kings XI Punjab,1,3,PA Patel,ML Hayden,B Lee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
14090,61,1,Chennai Super Kings,Kings XI Punjab,1,4,ML Hayden,PA Patel,B Lee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14091,61,1,Chennai Super Kings,Kings XI Punjab,1,5,ML Hayden,PA Patel,B Lee,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [50]:
match = main_df_csk_all['match_id'].nunique()
runs = main_df_csk_all['total_runs'].sum()

In [51]:
runs / match

161.08536585365854

In [52]:
## Avg of 160 againt all team

# Ques 2 ans  - opt 2 (166 - 175)

In [53]:
#############################################################################################################################

# Ques 3 - Wickets taken by csk from 91st to 120

In [54]:
main_df_dc= df[(((df['batting_team'] == 'Delhi Capitals')  & ((df['bowling_team'] == 'Chennai Super Kings'))))]
main_df_dc

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18498,79,2,Delhi Capitals,Chennai Super Kings,1,1,G Gambhir,V Sehwag,M Ntini,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18499,79,2,Delhi Capitals,Chennai Super Kings,1,2,V Sehwag,G Gambhir,M Ntini,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18500,79,2,Delhi Capitals,Chennai Super Kings,1,3,V Sehwag,G Gambhir,M Ntini,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18501,79,2,Delhi Capitals,Chennai Super Kings,1,4,V Sehwag,G Gambhir,M Ntini,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
18502,79,2,Delhi Capitals,Chennai Super Kings,1,5,V Sehwag,G Gambhir,M Ntini,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178709,11414,1,Delhi Capitals,Chennai Super Kings,20,2,TA Boult,A Mishra,RA Jadeja,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
178710,11414,1,Delhi Capitals,Chennai Super Kings,20,3,TA Boult,A Mishra,RA Jadeja,0,...,0,0,0,0,0,0,0,TA Boult,bowled,NaN
178711,11414,1,Delhi Capitals,Chennai Super Kings,20,4,I Sharma,A Mishra,RA Jadeja,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
178712,11414,1,Delhi Capitals,Chennai Super Kings,20,5,I Sharma,A Mishra,RA Jadeja,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
178713,11414,1,Delhi Capitals,Chennai Super Kings,20,6,I Sharma,A Mishra,RA Jadeja,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [65]:
main_df_dc['match_id'].unique()

array([   79,    87,   125,   141,   185,   224,   289,   318,   364,
         380,   404,   446,   465,   483,   519,   565,  7923,  7945,
       11141, 11341, 11414], dtype=int64)

In [72]:
# wrt dc

match = [   79,    87,   125,   141,   185,   224,   289,   318,   364,380,   404,   446,   465,   483,   519,   565,  7923,  7945,
       11141, 11341, 11414]
x = []
for i in match:
    check = main_df_dc[main_df_dc['match_id'] == i]
    over_15_20 = check[check['over'] >= 15]
    x.append(over_15_20['player_dismissed'].notna().sum())
    
print(x)
print(sum(x) / len(match))

[1, 3, 1, 5, 2, 0, 3, 0, 0, 5, 3, 4, 2, 1, 5, 1, 1, 1, 4, 2, 4]
2.2857142857142856

In [73]:
## 2 wickets wrt dc

In [68]:
main_df_csk_bowl_all= df[((((df['bowling_team'] == 'Chennai Super Kings'))))]
main_df_csk_bowl_all

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
14211,61,2,Kings XI Punjab,Chennai Super Kings,1,1,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
14212,61,2,Kings XI Punjab,Chennai Super Kings,1,2,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14213,61,2,Kings XI Punjab,Chennai Super Kings,1,3,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14214,61,2,Kings XI Punjab,Chennai Super Kings,1,4,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
14215,61,2,Kings XI Punjab,Chennai Super Kings,1,5,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178949,11415,1,Mumbai Indians,Chennai Super Kings,20,2,KA Pollard,MJ McClenaghan,DJ Bravo,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
178950,11415,1,Mumbai Indians,Chennai Super Kings,20,3,KA Pollard,MJ McClenaghan,DJ Bravo,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
178951,11415,1,Mumbai Indians,Chennai Super Kings,20,4,KA Pollard,MJ McClenaghan,DJ Bravo,0,...,0,0,0,0,1,0,1,MJ McClenaghan,run out,F du Plessis
178952,11415,1,Mumbai Indians,Chennai Super Kings,20,5,KA Pollard,JJ Bumrah,DJ Bravo,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
178953,11415,1,Mumbai Indians,Chennai Super Kings,20,6,KA Pollard,JJ Bumrah,DJ Bravo,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [69]:
main_df_csk_bowl_all['match_id'].unique()

array([   61,    67,    71,    74,    79,    83,    85,    87,    91,
          96,   103,   107,   110,   114,   116,   117,   118,   122,
         125,   131,   137,   141,   144,   149,   152,   159,   162,
         166,   169,   173,   179,   182,   185,   190,   192,   194,
         198,   202,   206,   211,   216,   222,   224,   228,   232,
         234,   235,   243,   248,   252,   257,   262,   264,   272,
         276,   281,   285,   289,   297,   302,   304,   307,   308,
         313,   318,   320,   324,   332,   334,   343,   347,   352,
         355,   361,   364,   368,   371,   379,   380,   381,   386,
         391,   396,   399,   404,   406,   410,   414,   418,   422,
         425,   430,   435,   442,   446,   452,   454,   457,   460,
         465,   467,   470,   474,   478,   483,   486,   490,   494,
         499,   504,   507,   510,   515,   516,   519,   521,   527,
         530,   533,   538,   542,   547,   551,   554,   559,   563,
         565,   569,   573,   575,   576,  7894,  7898,  7905,  7910,
        7913,  7917,  7920,  7923,  7926,  7928,  7936,  7939,  7945,
        7949,  7950,  7953, 11137, 11141, 11148, 11151, 11309, 11314,
       11316, 11320, 11324, 11330, 11332, 11335, 11341, 11346, 11412,
       11414, 11415], dtype=int64)

In [70]:
# wrt to all team

match = [   61,    67,    71,    74,    79,    83,    85,    87,    91,
          96,   103,   107,   110,   114,   116,   117,   118,   122,
         125,   131,   137,   141,   144,   149,   152,   159,   162,
         166,   169,   173,   179,   182,   185,   190,   192,   194,
         198,   202,   206,   211,   216,   222,   224,   228,   232,
         234,   235,   243,   248,   252,   257,   262,   264,   272,
         276,   281,   285,   289,   297,   302,   304,   307,   308,
         313,   318,   320,   324,   332,   334,   343,   347,   352,
         355,   361,   364,   368,   371,   379,   380,   381,   386,
         391,   396,   399,   404,   406,   410,   414,   418,   422,
         425,   430,   435,   442,   446,   452,   454,   457,   460,
         465,   467,   470,   474,   478,   483,   486,   490,   494,
         499,   504,   507,   510,   515,   516,   519,   521,   527,
         530,   533,   538,   542,   547,   551,   554,   559,   563,
         565,   569,   573,   575,   576,  7894,  7898,  7905,  7910,
        7913,  7917,  7920,  7923,  7926,  7928,  7936,  7939,  7945,
        7949,  7950,  7953, 11137, 11141, 11148, 11151, 11309, 11314,
       11316, 11320, 11324, 11330, 11332, 11335, 11341, 11346, 11412,
       11414, 11415]
x = []
for i in match:
    check = main_df_dc[main_df_dc['match_id'] == i]
    over_15_20 = check[check['over'] >= 15]
    x.append(over_15_20['player_dismissed'].notna().sum())
    
print(x)
print(sum(x) / len(match))

[0, 0, 0, 0, 1, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 4, 0]
0.2926829268292683

In [71]:
# 1 wicket wrt all team

# Ques 3 ans - (0-2)

In [101]:
##########################################################################################################################

# Ques 4 - balls required to make 100 ?

In [79]:
main_df_csk

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18372,79,1,Chennai Super Kings,Delhi Capitals,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18373,79,1,Chennai Super Kings,Delhi Capitals,1,2,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18374,79,1,Chennai Super Kings,Delhi Capitals,1,3,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18375,79,1,Chennai Super Kings,Delhi Capitals,1,4,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18376,79,1,Chennai Super Kings,Delhi Capitals,1,5,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178825,11414,2,Chennai Super Kings,Delhi Capitals,19,2,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
178826,11414,2,Chennai Super Kings,Delhi Capitals,19,3,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
178827,11414,2,Chennai Super Kings,Delhi Capitals,19,4,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,0,0,0,MS Dhoni,caught,K Paul
178828,11414,2,Chennai Super Kings,Delhi Capitals,19,5,AT Rayudu,DJ Bravo,I Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
178829,11414,2,Chennai Super Kings,Delhi Capitals,19,6,DJ Bravo,AT Rayudu,I Sharma,0,...,0,4,0,0,4,4,8,NaN,NaN,NaN

In [81]:
main_df_csk = main_df_csk.reset_index(drop = True)

In [83]:
main_df_csk

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,79,1,Chennai Super Kings,Delhi Capitals,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1,79,1,Chennai Super Kings,Delhi Capitals,1,2,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,79,1,Chennai Super Kings,Delhi Capitals,1,3,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,79,1,Chennai Super Kings,Delhi Capitals,1,4,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,79,1,Chennai Super Kings,Delhi Capitals,1,5,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2548,11414,2,Chennai Super Kings,Delhi Capitals,19,2,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
2549,11414,2,Chennai Super Kings,Delhi Capitals,19,3,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2550,11414,2,Chennai Super Kings,Delhi Capitals,19,4,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,0,0,0,MS Dhoni,caught,K Paul
2551,11414,2,Chennai Super Kings,Delhi Capitals,19,5,AT Rayudu,DJ Bravo,I Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2552,11414,2,Chennai Super Kings,Delhi Capitals,19,6,DJ Bravo,AT Rayudu,I Sharma,0,...,0,4,0,0,4,4,8,NaN,NaN,NaN

In [85]:
main_df_csk['match_id'].unique()

array([   79,    87,   125,   141,   185,   224,   289,   318,   364,
         380,   404,   446,   465,   483,   519,   565,  7923,  7945,
       11141, 11341, 11414], dtype=int64)

In [86]:
one_match = main_df_csk[main_df_csk['match_id'] == 79]

In [87]:
one_match

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,79,1,Chennai Super Kings,Delhi Capitals,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1,79,1,Chennai Super Kings,Delhi Capitals,1,2,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,79,1,Chennai Super Kings,Delhi Capitals,1,3,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,79,1,Chennai Super Kings,Delhi Capitals,1,4,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,79,1,Chennai Super Kings,Delhi Capitals,1,5,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,79,1,Chennai Super Kings,Delhi Capitals,20,2,S Badrinath,JA Morkel,R Bhatia,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122,79,1,Chennai Super Kings,Delhi Capitals,20,3,JA Morkel,S Badrinath,R Bhatia,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
123,79,1,Chennai Super Kings,Delhi Capitals,20,4,S Badrinath,JA Morkel,R Bhatia,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
124,79,1,Chennai Super Kings,Delhi Capitals,20,5,JA Morkel,S Badrinath,R Bhatia,0,...,0,0,0,0,0,0,0,JA Morkel,caught,V Sehwag
125,79,1,Chennai Super Kings,Delhi Capitals,20,6,S Badrinath,Joginder Sharma,R Bhatia,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [124]:

x = []
matches = [   79,    87,   125,   141,   185,   224,   289,   318,   364,
         380,   404,   446,   465,   483,   519,   565,  7923,  7945,
       11141, 11341, 11414]
for i in matches:
    check =  main_df_csk[main_df_csk['match_id'] == i]
    check = check.reset_index(drop  = True)
    runs = 0
    for j in range(len(check)):
        runs = runs + check.loc[j , 'batsman_runs']
        if runs == 100:
            x.append(j)
print(x)

[76, 75, 76, 123, 83, 84, 93, 94, 88, 62, 63, 90]

In [125]:
# avg balls taken 
sum(x) / len(x)

83.91666666666667

In [126]:
#84 balls wrt dc

In [127]:
main_df_csk_all

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
14087,61,1,Chennai Super Kings,Kings XI Punjab,1,1,PA Patel,ML Hayden,B Lee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14088,61,1,Chennai Super Kings,Kings XI Punjab,1,2,PA Patel,ML Hayden,B Lee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14089,61,1,Chennai Super Kings,Kings XI Punjab,1,3,PA Patel,ML Hayden,B Lee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
14090,61,1,Chennai Super Kings,Kings XI Punjab,1,4,ML Hayden,PA Patel,B Lee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14091,61,1,Chennai Super Kings,Kings XI Punjab,1,5,ML Hayden,PA Patel,B Lee,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [128]:
matches = main_df_csk_all['match_id'].unique()

In [129]:

x = []

for i in matches:
    check =  main_df_csk_all[main_df_csk_all['match_id'] == i]
    check = check.reset_index(drop  = True)
    runs = 0
    for j in range(len(check)):
        runs = runs + check.loc[j , 'batsman_runs']
        if runs == 100:
            x.append(j)
print(x)

[66, 76, 113, 75, 76, 122, 123, 124, 125, 90, 91, 92, 73, 88, 89, 84, 73, 74, 97, 87, 88, 89, 83, 84, 104, 105, 83, 86, 103, 104, 79, 62, 86, 66, 123, 78, 79, 71, 86, 87, 97, 77, 115, 75, 90, 117, 118, 124, 125, 72, 87, 88, 95, 77, 83, 84, 73, 74, 74, 75, 90, 93, 65, 57, 91, 92, 93, 80, 101, 102, 93, 94, 118, 119, 120, 70, 71, 97, 98, 71, 79, 80, 81, 86, 90, 91, 88, 89, 84, 81, 82, 77, 88, 48, 71, 94, 82, 65, 66, 73, 75, 76, 77, 78, 79, 80, 62, 63, 96, 97, 90, 95, 91, 82, 83, 84, 85, 81, 85, 86, 101, 102, 77]

In [130]:
# avg
sum(x) / len(x)

87.3089430894309

In [131]:
## 88 balls wrt every team

# Ques 4 ans - (more than 70)

In [132]:
###############################################################################################################################3

# Ques 5 - no ball ?

In [133]:
main_df_csk

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,79,1,Chennai Super Kings,Delhi Capitals,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1,79,1,Chennai Super Kings,Delhi Capitals,1,2,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,79,1,Chennai Super Kings,Delhi Capitals,1,3,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,79,1,Chennai Super Kings,Delhi Capitals,1,4,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,79,1,Chennai Super Kings,Delhi Capitals,1,5,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2548,11414,2,Chennai Super Kings,Delhi Capitals,19,2,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
2549,11414,2,Chennai Super Kings,Delhi Capitals,19,3,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2550,11414,2,Chennai Super Kings,Delhi Capitals,19,4,MS Dhoni,AT Rayudu,I Sharma,0,...,0,0,0,0,0,0,0,MS Dhoni,caught,K Paul
2551,11414,2,Chennai Super Kings,Delhi Capitals,19,5,AT Rayudu,DJ Bravo,I Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2552,11414,2,Chennai Super Kings,Delhi Capitals,19,6,DJ Bravo,AT Rayudu,I Sharma,0,...,0,4,0,0,4,4,8,NaN,NaN,NaN

In [135]:
noball = main_df_csk[main_df_csk['noball_runs'] > 0]

In [136]:
len(noball)

10

In [137]:
noball['match_id'].unique()

array([   79,   125,   224,   289,   519,  7923, 11141, 11341],
      dtype=int64)

In [138]:
10 / 8

1.25

In [140]:

noball = main_df_dc[main_df_dc['noball_runs'] > 0]
l = len(noball)
m = noball['match_id'].nunique()
l / m

1.4

In [141]:
# Avg is 1.5
# hence opt 2

# Ques 5 ans  - opt 2 (2-3)